/* line 1, ../compass/grid-sizer.sass */
body {
  margin: 0px;
}

/* line 4, ../compass/grid-sizer.sass */
.gs-sizer-container {
  width: 100%;
  height: 100%;
  padding: 22px;
}

/* line 9, ../compass/grid-sizer.sass */
.gs-view-container {
  overflow: hidden;
  height: 100%;
}

/* line 13, ../compass/grid-sizer.sass */
.gs-inactive {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 3;
}

/* line 20, ../compass/grid-sizer.sass */
.gs-sizer-guide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 3;
  background-color: grey;
  opacity: 0.9;
}

/* line 29, ../compass/grid-sizer.sass */
.crosshair {
  position: relative;
  z-index: 4;
  background-color: black;
}

/* line 34, ../compass/grid-sizer.sass */
.guide-crosshair {
  position: relative;
  z-index: 4;
  background-color: whitesmoke;
}

/* line 39, ../compass/grid-sizer.sass */
.crosshair-y, .guide-y {
  width: 100%;
  height: 1px;
  top: 50%;
}

/* line 44, ../compass/grid-sizer.sass */
.crosshair-x, .guide-x {
  height: 100%;
  width: 1px;
  left: 50%;
}

/* line 49, ../compass/grid-sizer.sass */
.guide-center {
  top: -50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -21px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  position: relative;
  z-index: 4;
}

/* line 61, ../compass/grid-sizer.sass */
.gs-quadrant-sizer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  cursor: move;
  border: 2px solid grey;
}

/* line 73, ../compass/grid-sizer.sass */
.quadrant {
  width: 50%;
  height: 50%;
  float: left;
  z-index: 2;
}

/* line 79, ../compass/grid-sizer.sass */
.q-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

/* line 84, ../compass/grid-sizer.sass */
.gs-snap-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 90, ../compass/grid-sizer.sass */
.gs-snap-container > * {
  position: absolute;
  width: 44px;
  height: 44px;
  margin-left: -22px;
  margin-top: -22px;
}

/* line 97, ../compass/grid-sizer.sass */
.snap-center {
  top: 50%;
  left: 50%;
  margin-left: -22px;
  margin-top: -22px;
}

/* line 103, ../compass/grid-sizer.sass */
.snap-top {
  left: 50%;
}

/* line 106, ../compass/grid-sizer.sass */
.snap-bottom {
  top: 100%;
  left: 50%;
}

/* line 110, ../compass/grid-sizer.sass */
.snap-left {
  top: 50%;
}

/* line 113, ../compass/grid-sizer.sass */
.snap-right {
  top: 50%;
  left: 100%;
}

/* line 117, ../compass/grid-sizer.sass */
.move-icon {
  height: 40px;
  width: 40pxs;
  background-image: url("../../img/move.png");
  background-size: 40px;
}
